<%= form_for([@blog,@post]) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </p>

  <p>
    <%= f.label "Tags separated by commas" %><br>
    <%= f.text_field :multiple_tags %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>