<!DOCTYPE html>
<html>
<head>
  <title>RailsBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <section id='logo'>
      <%= image_tag('logo.png', alt: '') %>
      <div id='logo-div'>
        <%= link_to "Barking Blog", "/", id: 'logo-title' %>
      </div>
    </section>
    <nav>
      <% if logged_in? %>
        <%= link_to current_user.username, "/users/#{current_user.id}", class: 'link' %>
        <%= link_to "logout", "/session", class: 'link', method: :delete %>
      <% else %>
        <%= link_to "login", "/session/new", class: 'link' %>
        <%= link_to "sign up", "/users/new", class: 'link' %>
      <% end %>
    </nav>
  </header>

  <main>
    <%= yield %>
  </main>

<!--   <footer>
    <p>Copyright © Tori Huang 2016</p>
  </footer> -->
</body>
</html>
